<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<p>
    <a class="ui pointing red basic label">Trademark Honeykhra 2019</a>
</p> -->

</body>

</html>