<!DOCTYPE html>
<html>
  <head>
    <title>Yelpcamp</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
    <nav
      class="navbar navbar-expand-md navbar-dark"
      style="background-color: #003049"
    >
      <a class="navbar-brand" href="/campgrounds">YelpCamp</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav">
          <!-- if no user -->
          <% if(!currentUser){ %>
          <a class="nav-item nav-link" href="/login"
            >Login<span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="/register">Sign Up</a>
          <!-- else -->
          <% } else { %>
          <a href="#" class="nav-item nav-link"
            >Logged in as <%= currentUser.username %></a
          >
          <a class="nav-item nav-link" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </nav>
    <!-- Alert message -->
    <div class="container">
      <% if(error && error.length>0){ %>
      <div class="alert alert-danger" role="alert"><%= error %></div>
      <% } %> <% if(success && success.length>0){ %>
      <div class="alert alert-success" role="alert"><%= success %></div>
      <% } %>
    </div>
 